body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(to left, #ff00f2, #d4760a);
}

header {
	margin-top: 1rem;
	text-align: center;
	font-size: 1.5rem;
	color: white;
}

.calc-grid {
	display: grid;
	margin-top: 2rem;
  justify-content: center;
	grid-template-columns: repeat(4, 5rem);
	grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
}

.calc-grid > button {
  cursor: pointer;
  font-size: 1.7rem;
  border: 1px solid white;
  outline: none;
	background-color: rgba(255, 255, 255, 0.75);
}

.calc-grid > button:hover,
.calc-grid > button:focus {
	background-color: rgba(255, 255, 255, 0.9);

}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2.5rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .prev-operand {
	color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .curr-operand {
	color: #fff;
  font-size: 2.5rem;
}
